<!DOCTYPE html>
<html lang="kr">
	<head>
	    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
	    <meta charset="utf-8">
	    <title>PLUTO Java Web Programming</title>
	    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		
		<link href="../css/bootstrap.min.css" rel="stylesheet">
		<!-- IE8 에서 HTML5 요소와 미디어 쿼리를 위한 HTML5 shim 와 Respond.js -->
	    <!-- WARNING: Respond.js 는 당신이 file:// 을 통해 페이지를 볼 때는 동작하지 않습니다. -->
	    <!--[if lt IE 9]>
	      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
	      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
	    <![endif]-->
	
	    <link href="../css/styles.css" rel="stylesheet">   
	    
	</head>
	<body>
{{> /include/header}}

<div class="container" id="main">
   <div class="col-md-10 col-md-offset-1">
      <div class="panel panel-default">
          <table class="table table-hover">
              <thead>
                <tr>
                    <th>#</th> 
                    <th>사용자 아이디</th> 
                    <th>이름</th> 
                    <th>이메일</th>
                    <th></th>
                </tr>
              </thead>
              <tbody>
              	{{#users}}
              		<tr>
	                    <th scope="row">{{id}}</th> 
	                    <td>{{userId}}</td> 
	                    <td>{{name}}</td> 
	                    <td>{{email}}</td>
	                    <td><a href="#" class="btn btn-success" role="button">수정</a></td>
	                </tr>
              	{{/users}}               
                
              </tbody>
          </table>
        </div>
    </div>
</div>


{{> /include/footer}}